/*Reference: https://shiny.rstudio.com/articles/css.html?fbclid=IwAR2F3dEGy7vcl2YZhp97nzIplYq-YnOGcHxbzG_IOtlIE10m6S81UNrAGV0*/
/*@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");*/

h1 {
  font-family: 'Segoe UI';
  color: #fff;
  padding: 10px;
  background-color:#ED7D31;
  
}

body {
  background-color: #fff;
}